body{
  background-color: #f0f0f0;
}

.heading{
   background-color: #fff;
}

.image{
  margin-top: 30px;
  margin-bottom: 30px;
}

.srch{
  background-color: #f0f0f0;
  margin-left: 7%;
  width: 40%;
  height: 40px;
  border-width: 0px;
}

.btn1{
  background-color: black;
  border-radius: 0px;
  margin-left: 12%;
  width: 130px;
}

.btn2{
  border-radius: 0px;
  width: 130px;
}

@media (max-width: 1200px) {
  .btn{
    width: 40%;
  }
    button{
      text-align: center;
    }
}
